body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .add-todo {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .add-todo input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .add-todo button {
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .todo-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .todo-item.checked {
    text-decoration: line-through;
    color: #888;
  }

  #todo-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #todo-list li{
    margin-bottom: 8px;
  }
  
  .delete-button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  